//reservation section start
.reservation{
    position: relative;
    margin-top: 100px;
    background-image:url('../img/bg/startsection.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 576px) {
        margin-top: 50px;
    }
    &:after{
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $blue;
        opacity: .8;
    }
}
.reservation-block{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    @media screen and (max-width: 992px) {
        flex-flow: column-reverse;
    }
}

::-webkit-input-placeholder {color:#969696;}
::-moz-placeholder          {color:#969696;}/* Firefox 19+ */
:-moz-placeholder           {color:#969696;}/* Firefox 18- */
:-ms-input-placeholder      {color:#969696;}

.register-form{
    display: flex;
    flex-direction: column;
    background-color: $white;
    min-width: 230px;
    margin-right: 90px;
    padding: 35px;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15); 
    border-radius: 20px;
    @media screen and (max-width: 992px) {
        margin-right: 0;
        margin-top: 15px;
    }
    input, select{
        display: block;
        width: 100%;
        height: 50px;
        background-color: #f2f2f2;
        margin-bottom: 18px;
        border-radius: 8px;
        padding: 0 10px;
       &.register-input{          
           width: calc(100% - 20px);
       }
       &.register-select{
            color: #969696;
           padding: 0 4px;
       }
       &.correct-input{
           box-shadow: 0 0 0 1px green;
       }
       &.incorrect-input{
        box-shadow: 0 0 0 1px red;;
       }
    }

    .reservation-btn{
        background-color: #5b6ceb;
        font-weight: 700;
        color: $white;
        width: 170px;
        margin: 0;
        float: right;
        height: 50px;
        border: none;
        outline: none;
        border-radius: 8px;
    }
   }
   .register-form-header{
       color: $blue;
       font-size: 25.7px;
       margin-bottom: 30px;
       float: left;
   }
.reservation-header{
   color: $white;
   max-width: 485px;
   p{
       font-family: $fss-font;
       font-size: 40px;
       line-height: 1.2;
       max-width: 300px;
   }
   @media screen and (max-width: 992px) {
       text-align: center;
    max-width: 100%;
    p{
        max-width: 100%;
    }
}
}
.reservation-main-header{
    font-weight: 700;
    font-size: 48px;
}
//reservation section end

//feature program section start

.feature-program-header{
    text-align: center;
    margin-bottom: 50px;
    p{
        font-family: 'Freestyle Script', sans-serif;
        font-size: 41px;
    }
}
.section-header{
    font-size: 30px;
    font-weight: 700;
    color: $blue;
}
.feature-program-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: -15px -15px;
}
.feature-program-block{
    display: flex;
    max-width: 570px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 15px 15px;
    @media screen and (max-width: 576px) {
		max-width: 100%;
	}
}
.feature-program-img{
    border-radius: 8px 0 0 8px;
    min-width: 270px;
    overflow: hidden;
    @media screen and (max-width: 576px) {
        min-width: 150px;
    }
}
.program-content{
    -ms-flex: 0 1 auto;
    padding: 50px 30px;
    @media screen and (max-width: 576px) {
		padding: 15px 15px;
	}
}

.program-content-header{
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap; 
    margin-bottom: 20px;
    @media screen and (max-width: 576px) {
		white-space: normal;
	}
}
.program-content-text{
    display: inline-block;
    -ms-flex: 0 1 auto;
}
.yoga-system{
    margin-top: 12px;
    color: #a7a7a7;
}
//feature program section end

//gallery section start

.gallery-img-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}
.img-block{
    position: relative;
    width: 25%;
    height: 350px;
    @media screen and (max-width: 992px) {
        width: 50%;
    }
    @media screen and (max-width: 576px) {
        width: 100%;
        height: 200px;
    }
}

.gallery-img{
    &:hover{
        div:not(.zoom-img){
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
            border: 0px;
        }
        .zoom-img{
            display: block;
            z-index: 2;
        }
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: rgba(124, 137, 239, 0.8);
            width: 100%;
            height: 100%;
            display: inline-block;
        }
    }
}
   
    .gallery-image{
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border: 0px;
    }
    
.zoom-img{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 57px;
    height: 57px;
    background-image: url('../img/gallery/search_logo.png');
    background-repeat: no-repeat;
    background-position: center center;
} 
//gallery section end

//about us section start
.about-us-container{
   display: flex;
   @media screen and (max-width: 992px) {
    flex-flow: wrap;
}
}
.about-us-info{
    display: inline-block;
   width: 50%;
    margin-right: 100px;
    @media screen and (max-width: 992px) {
        width: 100%;
        margin-right: 0;
    }
    .section-header{
        margin: 25px 0;
    }
}
.about-us-slider{
    display: inline-block;
    width: 50%;
    height: 300px;
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    @media screen and (max-width: 992px) {
        margin-top: 15px;
        width: 100%;
    }
    .slick-next, .slick-prev{
        width: 50px;
        height: 50px;
    }
    .slick-prev{
        left: -25px;
        background-image: url('../img/about-us/arrow-prev.png');
        background-repeat: no-repeat;
        background-position: 17px center;
        @media screen and (max-width: 576px) {
            left: 0;
        }
    }
    .slick-next{
        right: -25px;
        background-image: url('../img/about-us/arrow-next.png');
        background-repeat: no-repeat;
        background-position: 20px center;
        @media screen and (max-width: 576px) {
            right: 0;
        }
    }
}

.slider-img{
    border-radius: 8px;
    overflow: hidden;
}
  
//slider start
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    transform: translate(0, -50%);
    box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 2;
    color: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: $white;
}

//slider end
//about us section end

//elements section start
.elements{
    position: relative;
    background-image: url('../img/bg/river.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 100%;
        background-color: $blue;
        opacity: .8;
    }
}
.elements-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -25px -15px;
    z-index: 1;
}
.element-wrapper{
    width: 271px;
    text-align: center;
    color: $white;
    padding: 25px 15px;
}
.element-header{
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 15px;
}
//elements section end
.background-lotos{
    position: relative;
    background-image: url('../img/bg/lotos.png');
    background-position: right 120%;
    background-repeat: no-repeat;
}

//shop section start
.shop{
    padding: 100px;
}
.shop-block-wrapper{
    margin: -15px -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.shop-block{
    min-width: 371px;
    margin: 15px 15px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: $white;
    @media screen and (max-width: 576px) {
        min-width: 290px;
    }
}

.price-per-month{
    background-color: $blue;
    color: $white;
    display: flex;
    justify-content: center;
}
.currency, .price, .month{
    display: flex;
    font-weight: 700;
}
.currency{
    font-size: 32px;
    padding-right: 20px;
    align-items: center;
}
.price{
    font-size: 67.5px;
    padding: 25px 0;
    align-items: center;
}
.month{
    font-size: 18px;
    bottom: 10px;
    align-items: flex-end;
    transform: translateY(-43px);
}
.shop-items{
    font-size: 18px;
    color: #555;
    p{
        padding-top: 43px;
        position: relative; 
        &:not(:last-child):after{
            content: '';
            display: block;
            position: absolute;
            width: 99px;
            left: 50%;
            transform: translateX(-50%);
            bottom: -15px;
            border-bottom: 1px solid  #d7d7d7;
        } 
    }
}

.buy-btn{
    outline: none;
    border: none;
    color: $white;
    background-color: $blue;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    min-width: 170px;
    margin: 50px 0;
}

.highlight-block{
    opacity: .8;
}
//shop section end
//blog section start
.blog-section{
    padding-top: 105px;
    padding-bottom: 200px;
}
.blog-slider{
    box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
    .slick-dots{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(60px, -50%);
        list-style-type: none;
        @media screen and (max-width: 992px) {
            display: none !important;
        }
        li {
            position: relative;
            height: 20px;
            width: 20px;
            margin: 0 5px;
            padding: 0;
            border: 2px solid #d7d7d7;
            border-radius: 50%;
            margin: 18px 0;
            cursor: pointer;
            button {
                border: 0;
                background: transparent;
                display: block;
                height: 20px;
                width: 20px;
                outline: none;
                line-height: 0px;
                font-size: 0px;
                color: transparent;
                padding: 5px;
                cursor: pointer;
                &:hover, &:focus {
                    outline: none;
                    &:before {
                        opacity: 1;
                    }
                }
                &:before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    content: '';
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    text-align: center;
                    opacity: 0.25;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }
            &.slick-active{
                border-color: $blue;
            }
            &.slick-active button:before {
                color: $blue;
                opacity: 0.75;
                background-color: $blue;
            }
        }
    }
}
.blog-container{
    display: flex !important;
    width: initial !important;
    padding: 50px 240px 75px 60px;
    background-color: $white;
    overflow: hidden;
    border-radius: 8px;
    @media screen and (max-width: 992px) {
        flex-flow: wrap;
        justify-content: center;
        padding: 15px;
	}
    .blog-img-container{
        border: 2px solid $white;
        border-radius: 50%;
        margin-right: 10px;
        display: block;
        margin-right: 40px;
        div{
            position: relative;
            &:after{
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                width: 145px;
                height: 145px;
                box-shadow: 0 0 0 2px #d7d7d7;
            }
        }
        @media screen and (max-width: 992px) {
            margin-right: 0;
            margin-bottom: 25px;
        }
    }
    
      .blog-text-container{
        -ms-flex: 0 1 auto;
      }
      .blog-main-text{
          color: #555;
          padding-left: 40px;
          position: relative;
          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            max-width: 690px;
       }
          &:before{
              content: '“';
              position: absolute;
              top: 0;
              left: 0;
              transform: translateY(-50%);
                color: $blue;
                font-size: 60px;
          }
          &:after{
            content: '”';
              position: absolute;
              bottom: 0;
              right: 0;
              transform: translate(200%, 50%);
                color: $blue;
                font-size: 60px;
                @media screen and (max-width: 992px) {
                    transform: translate(0, 50%);
                }
          }
      }
}
.our-member{
    padding-left: 40px;
    border-left: 2px solid #d7d7d7;
    padding-top: 35px;
    @media screen and (max-width: 992px) {
       border: none;
       text-align: center;
       padding-top: 15px;
       padding-bottom: 35px;
    }
    .full-name{
        font-size: 18px;
        font-weight: 700;
        color: $blue;
    }
}

.blog-nav{
    transform: translate(310px, -50%);
    max-width: 200px;
    @media screen and (max-width: 992px) {
        position: absolute;
        max-width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
     }
    .slick-next, .slick-prev{
        width: 30px;
        height: 30px;
    }
    .slick-prev{
        left: -70px;
        background-image: url('../img/blog/prev-arrow.png');
        background-repeat: no-repeat;
        background-position: 11px center;
        @media screen and (max-width: 992px){
            left: 15px;
        }
    }
    .slick-next{
        right: -70px;
        background-image: url('../img/blog/next-arrow.png');
        background-repeat: no-repeat;
        background-position: 13px center;
        @media screen and (max-width: 992px){
            right: 15px;
        }
    }
}
.blog-nav-container{
    display: flex !important;
    align-items: center;
    justify-content: center;
    .blog-nav-img-container{
        border-radius: 50%;
        margin-right: 10px;
        div{
            position: relative;
            &:after{
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                width: 69px;
                height: 69px;
                box-shadow: 0 0 0 2px #d7d7d7;
            }
        }
    }
    
    
    .nav-full-name{
        font-weight: 700;
        margin-bottom: 10px;
    }
    .nav-position{
        font-size: 12px;
    }
}
  
//blog section end