//reservation section start
.reservation{
    position: relative;
    margin-top: 100px;
    background-image:url('../img/bg/startsection.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    &:after{
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $blue;
        opacity: .8;
    }
}
.reservation-block{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

::-webkit-input-placeholder {color:#969696;}
::-moz-placeholder          {color:#969696;}/* Firefox 19+ */
:-moz-placeholder           {color:#969696;}/* Firefox 18- */
:-ms-input-placeholder      {color:#969696;}

.register-form{
    display: flex;
    flex-direction: column;
    background-color: $white;
    min-width: 230px;
    margin-right: 90px;
    padding: 35px;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15); 
    border-radius: 20px;
    
    input, select{
        display: block;
        width: 100%;
        height: 50px;
        background-color: #f2f2f2;
        margin-bottom: 18px;
        border-radius: 8px;
        padding: 0 10px;
       &.register-input{          
           width: calc(100% - 20px);
       }
       &.register-select{
            color: #969696;
           padding: 0 4px;
       }
    }

    .reservation-btn{
        background-color: #5b6ceb;
        font-weight: 700;
        color: $white;
        width: 170px;
        margin: 0;
        float: right;
    }
   }
   .register-form-header{
       color: $blue;
       font-size: 25.7px;
       margin-bottom: 30px;
       float: left;
   }
.reservation-header{
   color: $white;
   max-width: 485px;
   p{
       font-family: $fss-font;
       font-size: 40px;
       line-height: 1.2;
   }
}
.reservation-main-header{
    font-weight: 700;
    font-size: 48px;
}
//reservation section end

//feature program section start
.feature-program-section{
    margin-top: -73px;
}
.feature-program-header{
    text-align: center;
    margin-bottom: 50px;
    p{
        font-family: 'Freestyle Script', sans-serif;
        font-size: 41px;
    }
}
.section-header{
    font-size: 30px;
    font-weight: 700;
    color: $blue;
}
.feature-program-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: -15px -15px;
}
.feature-program-block{
    display: flex;
    max-width: 570px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 15px 15px;
}
.feature-program-img{
    img{
        display: block;
        border-radius: 8px 0 0 8px;
        width: 270px;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.program-content{
    padding: 50px 30px;
}

.program-content-header{
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap; 
    margin-bottom: 20px;
}
.program-content-text{
    display: inline-block;
}
.yoga-system{
    margin-top: 12px;
    color: #a7a7a7;
}
//feature program section end

//gallery section start

.gallery-img-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    //margin: 0 auto;
    
}
.img-block{
    position: relative;
    width: 25%;
    height: 350px;
}

.gallery-img{
    &:hover{
        .gallery-image{
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }
        .zoom-img{
            display: block;
            z-index: 2;
        }
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: rgba(124, 137, 239, 0.8);
            width: 100%;
            height: 100%;
            display: inline-block;
        }
    }
}
   
    .gallery-image{
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
.zoom-img{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 57px;
    height: 57px;
    img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    } 
} 
//gallery section end

//about us section start
.about-us-container{
   display: flex;
   //float: left;
}
.about-us-info{
    display: inline-block;
   width: 50%;
    margin-right: 100px;
    .section-header{
        margin: 25px 0;
    }
}
.slick-slider{
    display: inline-block;
    width: 50%;
    height: 300px;
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
   // margin: 0 auto;
}

.slider-img{
    border-radius: 8px;
    overflow: hidden;
    img{
	    height: 300px;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
    }
}
  
//slider start
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    transform: translate(0, -50%);
    box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 2;
    color: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: $white;
}
.slick-prev{
    left: -25px;
    background-image: url('../img/about-us/arrow-prev.png');
    background-repeat: no-repeat;
    background-position: 17px center;
}
.slick-next{
    right: -25px;
    background-image: url('../img/about-us/arrow-next.png');
    background-repeat: no-repeat;
    background-position: 20px center;
}
//slider end
//about us section end

//elements section start
.elements{
    position: relative;
    background-image: url('../img/bg/river.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 100%;
        background-color: $blue;
        opacity: .8;
    }
}
.elements-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -25px -15px;
    z-index: 1;
}
.element-wrapper{
    width: 271px;
    text-align: center;
    color: $white;
    padding: 25px 15px;
}
.element-header{
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 15px;
}
//elements section end
.background-lotos{
    position: relative;
    background-image: url('../img/bg/lotos.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    //background-size: cover;
}

//shop section start
.shop{
    padding: 100px;
}
.shop-block-wrapper{
    margin: -15px -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.shop-block{
    min-width: 353px;
    margin: 15px 15px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: $white;
}
.price-per-month{
    background-color: $blue;
    color: $white;
    display: flex;
    justify-content: center;
}
.currency, .price, .month{
    display: flex;
    font-weight: 700;
}
.currency{
    font-size: 32px;
    padding-right: 20px;
    align-items: center;
}
.price{
    font-size: 67.5px;
    padding: 25px 0;
    align-items: center;
}
.month{
    font-size: 18px;
    bottom: 10px;
    align-items: flex-end;
    transform: translateY(-43px);
}
.shop-items{
    font-size: 18px;
    color: #555;
   // text-align: center;
    p{
        padding-top: 43px;
        position: relative; 
        &:not(:last-child):after{
            content: '';
            display: block;
            position: absolute;
            width: 99px;
            left: 50%;
            transform: translateX(-50%);
            bottom: -15px;
            border-bottom: 1px solid  #d7d7d7;
        } 
    }
}

.buy-btn{
    outline: none;
    border: none;
    color: $white;
    background-color: $blue;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    min-width: 170px;
    margin: 50px 0;
    &:hover{
        opacity: .8;
    }
}

//shop section end